@charset "utf-8";
body,h1,h2,h3,h4,h5,h6,p,dl,dd{
	margin: 0;
}
body{
	font-family: 'Nanum Gothic', sans-serif;
	min-width: 1000px;
	color: #2c2c2c;
	background-color: #f6f5f6;
}
ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
a{
	text-decoration: none;
}
fieldset{
	margin: 0;
	padding: 0;
	border: 0;
}
h1{
	font-size: 30px;
}
.cf:after{
	content: "";
	display: block;
	clear: both;
}
.inner{
	width: 1000px;
	margin: 0 auto;
}

/*wrap*/
#wrap{
	position: relative;
	width: 100%;
}

/*header*/
#header{
    position: fixed;
	top: 0;
    height:100px;
    z-index: 10;
	width: 100%;
    box-sizing: border-box;
    transition: height 0.3s;
    background: #fff;
}
#header.nav-down{
    height:100px;
}
#header.nav-up{
    height:0;
    overflow:hidden;
}
#header h1{
	width: 75px;
	height: 70px;
	background: url(../images/logo.png) no-repeat;
	background-size: 100%;
	text-indent: -9999px;
    float: left;
    margin-top:15px;
    margin-left:30px;
}
#header h1 a{
	height: 100%;
	display: block;
}
.gnb{
    height: 100px;
    line-height: 100px;
    float: right;
    margin-right:30px;
}
.gnb li{
	float: left;
	margin-right: 50px;
}
.gnb li:last-child{
	margin-right: 0;
}
.gnb li:hover a{
	text-decoration: underline;
}
.gnb li a{
	color: #2c2c2c;
}

/*container*/
.mainTitle{
    z-index: 3;
    height: 1000px;
	position: relative;
    background: url(../images/main.png) no-repeat center center;
}
.mainTitle p{
    position: absolute;
    font-size: 32px;
    letter-spacing: 10px;
    top: 800px;
    left: 50%;
    transform: translate(-50%);
}

/*mainRow1*/
.mainRow1{
	padding: 200px 0;
    position: relative;
}
.mainRow1 h1{
	text-align: center;
	margin-top: -50px;
	margin-bottom: 100px;
}
.mainRow1 h1:after,.mainRow3 h1:after,.mainRow4 h1:after{
	margin-top: 15px;
	content: "";
	width: 30px;
	height: 2px;
	display: block;
	background: #000;
	position: relative;
	left: 50%;
	transform: translate(-50%);
}
.profileBox{
    background: #fff;
    padding: 50px;
    border-radius: 10px;
}
.profileBox h2{
    margin-bottom: 60px;
}
.profile{}
.profile ul{}
.profile ul li{
    text-indent: 10px;
    margin-bottom: 50px;
}
.profile ul li span{
    display: inline-block;
    width: 200px;
    font-weight: bold;
}
.profile img{}
.skills{}
.skills ul{
    font-size: 0;
    text-align: center;
}
.skills ul li{
    display: inline-block;
    margin-right: 50px;
}
.skills ul li:last-child{
    margin: 0;
}
.skills ul li img{}

/*mainRow2*/
.mainRow2{
	padding: 250px 0;
	position: relative;
}
.mainRow2:after{
	background: url(../images/work-731198_1920.jpg) no-repeat fixed;
    background-size: cover;
	filter: blur(2px);
	filter: brightness(40%);
	top: 0;
    left: 0;
    position: absolute;
    z-index: -1;
    content: "";
    width: 100%;
    height: 100%;
}
.mainRow2 h1{
	margin-top: -100px;
	text-align: center;
	margin-bottom: 100px;
	color: #fff;
}
.mainRow2 h1:after{
	margin-top: 15px;
	content: "";
	width: 30px;
	height: 2px;
	display: block;
	background: #fff;
	position: relative;
	left: 50%;
	transform: translate(-50%);
}
.row2Menu{
	position: relative;
	left: 50%;
	transform: translate(-50%);
	width: 600px;
	height: 50px;
	margin-bottom: 100px;
}
.row2Menu li{
	background: #666;
	float: left;
	width: 144px;
	text-align: center;
	line-height: 50px;
	margin-right: 2px;
	color: #fff;
	cursor: pointer;
}
.row2Menu li:hover{
	background: #444;
}
.row2Menu li.active{
	background-color: #2c2c2c;
}
.row2Menu li:first-child{
	border-top-left-radius: 25px;
	border-bottom-left-radius: 25px;
}
.row2Menu li:last-child{
	border-right: 0;
	border-top-right-radius: 25px;
	border-bottom-right-radius: 25px;
}
.webList{
	width: 100%;
	font-size: 0;
	text-align: center;
}
.webList li{
	width: 25%;
	display: inline-block;
}
.webList li a{
	font-size: 16px;
	color: #fff;
}
.webList li img{
	height: 100px;
}
.webList li p{
	margin-top: 30px;
}

/*mainRow4*/
.mainRow4{
	display: none;
	padding: 150px 0;
}
.mainRow4 h1{
	text-align: center;
	margin-bottom: 100px;
}
.albumList{
	width: 100%;
}
.albumList li{
	float: left;
	width: 20%;
	margin: 0 2.5%;
	margin-bottom: 50px;
	border: 1px solid #e1e1e1;
	box-sizing: border-box;
}
.albumList li:hover{
	border: 1px solid #222;
}
.albumList li img{
	width: 100%;
}

/*mainRow3*/
.mainRow3{
	padding: 150px 0;
	position: relative;
}
.mainRow3 h1{
	text-align: center;
	margin-bottom: 100px;
}
.mainRow3 img{}
.mainRow3 fieldset{
	position: absolute;
	background: #f9f9f9;
	top: 40%;
	left: 40%;
	padding: 50px;
}
.formWrap{
	display: inline-block;
	vertical-align: middle;
	margin-right: 50px;
}
.name,.email,.subject{
	width: 400px;
	height: 30px;
	border: none;
	border-bottom: 1px solid #777;
	margin-bottom: 30px;
}
#message{
	border: none;
	border-bottom: 1px solid #777;
	width: 396px;
	height: 100px;
}
.submitWrap{
	display: inline-block;
	vertical-align: middle;
}
.submit{
	width: 80px;
	height: 298px;
	font-size: 20px;
	font-weight: bold;
	letter-spacing: 1px;
	color: #fff;
	font-family: 'Nanum Gothic', sans-serif;
	background: #333;
	border: none;
	border-radius: 10px;
	cursor: pointer;
}
input::placeholder{
	color: #2c2c2c;
	padding-left: 10px;
}
textarea::placeholder{
	font-family: 'Nanum Gothic', sans-serif;
	color: #2c2c2c;
	padding: 2px 0 0 10px;;
}

a#MOVE_TOP_BTN{
    position: fixed;
    right: 2%;
    bottom: 50px;
	background: rgba(0,0,0,0.1);
	padding: 10px;
	border-radius: 3px;
    display: none;
    z-index: 999;
}
a#MOVE_TOP_BTN:hover{
	background: rgba(0,0,0,0.6);
}
a#MOVE_TOP_BTN:hover i{
	color: #fff;
	border-top: 2px solid #fff;
}
a#MOVE_TOP_BTN i{
	border-top: 2px solid #000;
	padding-top: 2px;
	color: #000;
}
/*footer*/
#footer{}
.footerTop{
	background: #aaa;
}
.footerCon{
	padding: 20px 0;
	width: 100%;
}
.footerCon li{
	float: left;
	width: 33.33%;
	text-align: center;
}
.footerCon li a{
	font-weight: bold;
	color: #2c2c2c;
	font-size: 14px;
}
.footerCon li a img{
	height: 20px;
	margin-right: 10px;
	vertical-align: middle;
}
.footerCon li a span{
	vertical-align: middle;
}
.footerCopy{
	padding: 20px 0;
	background: #444;
	text-align: center;
}
.footerCopy span{
	color: #fff;
	font-size: 12px;
}